.header{

    position: sticky;
    top:0px;
    

    display: flex;
    
    justify-content: space-evenly;

    border-bottom: 0.1px solid lightgray;
    padding: 5px 0px;

    width: 100vw;
    z-index: 999;

    background-color: white;


    
}

.header_color{

    
    background-color: white;
}

.headerLeft{

    display: flex;

}

.headerLeft > img{
    object-fit: contain;
    height:40px;

    margin-right: 10px;
}

.headerSearch{

    display: flex;


    background: rgb(225, 233, 241);
    border-radius: 3px;
    height: 22px;
    color: gray;

    padding: 10px;
}

.headerSearch  > input{
    
    border: none;
    background: none;
    outline: none;
    margin-left: 10px;
    font-size: 1rem;

} 
  

.SearchIcon{
    
    margin-top: 1px;

} 



.headerRight{
    display: flex;
    align-items: center;    
}




.hide{
    display: flex;

}

@media screen and (max-width:640px){
    .hide{
       display: none;
    } 
    .headerSearch{
        width:40vw;


    }

    .headerSearch  > input{
        font-size:0.8rem;
    }
    .headerSearch > ::-webkit-input-placeholder  {
        color:transparent;
     }
     
}
