.headerOption{

    display: flex;
    flex-direction: column;
    color: gray;



    margin-right: 0px;
    align-items: center;
    margin-left: 20px;
}

.headerOption:hover{

        color: black;
}

.icon{
    font-size: 1.8rem;
}


@media screen and (max-width:700px){
    .icon{
        font-size: 1.5rem;
    } 
    .HeaderOption_title{
        display: none;
    }
    .headerOption{
        margin-left:10px;
    }
}

.HeaderOption_title{
    font-size: 0.8rem;
    margin-top: 0px;
    
font-family: Arial, Helvetica, sans-serif;
}

.HeaderOption_icon{
object-fit: contain;
height: 25px !important;
width: 25px !important;
}

