.inputoption >h4{
    margin: 0px;
    padding: 0px;
}

.inputoption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.inputoption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

.inputoption >h4{
    margin-left: 5px;
        
} 

@keyframes animated {
    from {
        transform: rotate(10deg);

    }
    to {
        transform: rotate(-10deg);
    }
  }

.likeAnimate{
    z-index: 100;
 
   color:red;
   animation: animated 0.15s 4;
   
}


@media screen and (max-width:700px){
    .icon{
        font-size: 1.5rem;
    } 
}