
h2{
    margin: 0px;
    font-size: 18px;
}


p{
    margin: 0px;
    font-size: 15px;

}


.post{
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 50vw;


    z-index: 1;
 

}

@media screen and (max-width: 700px) {
    .post{
        width: 90vw;
    }
  }
.postHeader{
    display: flex;
    margin-bottom: 10px;
    align-items: center;    z-index: 1;

}
.postInfo{
    margin-left: 10px;
}

.postInfo >p{
    color: gray;

}
.postbody{

    overflow-wrap: anywhere;
}

.postbody > p{
    font-size: 18px;
    font-weight: 200;
    margin-left: 50px;
}

.post_buttons{

    display: flex;
    justify-content: space-evenly;
}

.MuiAvatar-colorDefault{

    background-color:  rgb(124, 187, 250) !important;

}

@keyframes animatedBackground {
    from {
        background-size: 200px;
    
    }
    to {
        background-size: 250px;
   
    }
  } 
.likeCounter{
    border-bottom-style: solid;
    border-color : #CECAD4;

    padding: 3px 0;
    margin-top: 20px;
    border-width: thin;
    width:overflow;
}


.likeCounter >h4{
    color:#CECAD4;
}


