
h2{
    margin: 0px;
    font-size: 18px;
}


p{
    margin: 0px;
    font-size: 15px;

}


.post{
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 50vw;


    z-index: 1;
 

}

@media screen and (max-width: 700px) {
    .post{
        width: 90vw;
    }
  }
.postHeader{
    display: flex;
    margin-bottom: 10px;
    align-items: center;    z-index: 1;

}
.postInfo{
    margin-left: 10px;
}

.postInfo >p{
    color: gray;

}
.postbody{

    overflow-wrap: anywhere;
}

.postbody > p{
    font-size: 18px;
    font-weight: 200;
    margin-left: 50px;
}

.post_buttons{

    display: flex;
    justify-content: space-evenly;
}

.MuiAvatar-colorDefault{

    background-color:  rgb(124, 187, 250) !important;

}

@keyframes animatedBackground {
    from {
        background-size: 200px;
    
    }
    to {
        background-size: 250px;
   
    }
  } 
.likeCounter{
    border-bottom-style: solid;
    border-color : #CECAD4;

    padding: 3px 0;
    margin-top: 20px;
    border-width: thin;
    width:overflow;
}


.likeCounter >h4{
    color:#CECAD4;
}

.commentSection{


   display: flex;
   margin-left: 8%;
    padding:10px;
    padding-left: 0px;

}


.commentSection > input{


    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
 }

 .commentSection > button{

    background-color: rgba(31, 124, 245, 0.918);
    color:white;

    outline-width: 0;

 }

 .comment{
     display: flex;

 }

 .commentBody{

    background-color:rgb(219, 219, 219);
    padding:5px;
    margin-bottom:10px;
    margin-left:10px;
    border-radius:5px;

    
 }
 .commentBody > span {
    display: flex;
    justify-content: space-between;
  }
  .commentDeleteIcon{
    margin: 3px;
    opacity:0.5;

    right:1px;
    margin-left: 10px;
  }
 .commentBody > span >h3{

   padding:5px; 
   margin: 3px;
 }
 .commentBody >p{

    padding:5px; 
    margin-left: 20px;
  }


 .HeaderOption_icon{
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
    }


.flipMove {
    margin: 24px;
    width: 50px;
    height: 50px;
    animation: zoom-in-zoom-out 1s ease infinite;
  }
  
  @keyframes flipMove {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }